Flex-Horizontal()
	display flex
	flex-direction row
Flex-Vertical()
	display flex
	flex-direction column

Flex-Item()
	flex 1
	display flex
	
.flex-horizontal
	Flex-Horizontal()
.flex-vertical
	Flex-Vertical()