include /mixins/icons.jade

mixin RightNav
	ul.list-right-nav
		li.list-item
			a(href='#/login') Sign In
		li.list-item
			a(href='#/help') Help
		li.list-item
			a(href='#/queue') Queue
		li.list-item
			a(href='#/cart') Cart



mixin Categories
	ul.list-inline.list-categories
		each cat in navcats
			li.cat-item
				a(href='/#/search/#{to_url(cat)}') #{cat}

//- Pass in a 'p_query' to template to prefill value of search input
mixin Search
	.search-bar
		.search-input
			input(type='search', placeholder='Search', value = p_query ? p_query : '')
		.search-icon
			+Icon('fa-search')


.top-shelf
	a.title(href='/') Blinge
	+RightNav

.bottom-shelf
	+Categories
	+Search