#app-header
	display flex
	.header-inner
		flex 1
		display flex
	.sidebar-trigger
		align-self flex-start
		flex-basis header_height
		height header_height
	.logo
		width auto
	.filler
		flex 1
	.searchbar
		align-self flex-end
		width 300px
		
		
#app-header
	.sidebar-trigger
		color theme_font
		font-size 24px
		text-align center
		padding 10px 0
		&:hover, &:active, &.is-active
			color color_base
		&:active
			relative top 1px
			
#app-header
	.logo
		font-family font_light
		font-size 24px
		color theme_font
		text-align center
		padding 10px 0
		
#app-header
	.searchbar
		margin 0 gutter_x
		input
			margin-bottom 12px
			line-height 32px
			font-size 24px
			font-family font_light
			border-radius 0
			border-width 0 0 1px 0
			background-color transparent
			//background-color theme_veil
			box-shadow none
			&:hover, &:active, &:focus
				box-shadow none
				border-color color_base