// Anchor Tags
a
	color theme_font
	font-family font_regular
	text-decoration none
	&:hover, &:active, &:focus
		text-decoration none
	&:hover
		color color_base
	&:visited
		color color_purple
	&:active, &:focus
		color color_base
	

input.form-control
	outline none
	font-family font_regular
	font-size 14px
	line-height 22px
	color theme_font
	box-shadow none
	border-color theme_border
	&:hover, &:focus, &:active, &:focus:active
		outline none
		box-shadow none
	&:hover
		border-color color_base
	&:focus
		border-color color_base_border
		
input[type='text'], 
input[type='search'], 
input[type='password'],
input[type='url'],
input[type='number'],
input[type='tel'],
textarea
	border-radius 2px
	border-width 1px
	border-style solid
	background none
	font-family font_regular
	font-size 14px
	line-height line_height
	&::-webkit-input-placeholder
		color theme_font
		opacity 0.64
		
.input-group
	.input-group-addon, input.form-control
		border-radius 0


.content-inner
	padding 0 gutter_x
	Flex-Vertical()
	.row
		display flex
		margin gutter_y (-1*gutter_x) 0 (-1*gutter_x)
		

// Columns as flex
@media (min-width: 992px)	
	for num in (0 1 2 3 4 56 7 8 9 10 11)
		.col-md-{num}
			float none
			flex abs(num - 12)