
HeaderButton()
	font_color = #fff
	border none
	border-top 4px transparent solid
	padding 12px 16px
	opacity .64

	color font_color
	&:hover, &:active, &:focus
		opacity 1
		box-shadow none
		border-top-color rgba(#000, 0.12)

	&:active
		border-top-color rgba(#000, 0.28)
	

#app-header
	.header-inner
		padding 8px 0
		position relative
		clearfix()
		-webkit-app-region drag
		
		// stop1 = rgba(#fff, 0.45)
		// stop2 = rgba(#fff, 0)
		// background-image linear-gradient(top, stop1, stop2)
		background-color color_base
		color #fff

#app-header
	.back-button, .window-controls, .title
		display block
		margin -8px 0
		-webkit-app-region no-drag

	.back-button, .title
		float left
	.window-controls
		float right
	.title
		HeaderButton()
		font-size 18px
		font-family font_light
		padding 10px 16px

#app-header .back-button .btn-toback
	HeaderButton()
	background-color transparent
	
	font-size 24px
	padding 10px 16px 14px 16px
	transition top time_1x easing_material

	


#app-header .window-controls
	position relative
	height header_height
	min-width 50px
	&:after
		absolute top 16px right 24px
		font-family 'FontAwesome'
		content '\f142'
		opacity 0.7
		
	.window-control
		display none
	&:hover
		& .window-control
			display inline-block
		&:after
			display none

#app-header .window-control
	display inline-block
	HeaderButton()