.view-splashpage
	Layer(z1)
	Flex-Vertical()
	justify-content center
	
	.center-splash
		font-family font_xlight
		font-size 64px
		
		

		text-align center
		margin-top -64px
			
		color color_base

		// color white
		// bg-animated-gradient()
		// -webkit-background-clip text
		// -webkit-text-fill-color transparent
	
	.greeting-from
		color rgba(#000, 0.24)
		font-size 14px
		font-family font_semibold